
extends layout

block main
  .row
    .col-md-4.col-sm-4.col-xs-12
      .panel.panel-default.my_panel
        .panel-body
          style.
            .my_panel > .panel-body {
             padding: 0px;
            }
            .my_panel > .panel-body > img {
             display: block;
             height: auto;
             max-width: 100%;
            }
            .my_panel > .panel-footer {
            text-align: left;
            }
          img.img-responsive.pull-right(src="image/1.png", alt="")

    .col-md-4.col-sm-4.col-xs-12
      .panel.panel-default.my_panel
        .panel-body
        
        .panel-footer
          h3 Миронюк Дмитрий Константинович

          ul
            li
              p 18.09.1992
            li
              p mironiukdk@gmail.com
            li
              p г. Красноярск

              block main
 
    .col-md-4.col-sm-4.col-xs-12
      .panel.panel-default.my_panel
        .panel-body
        
        .panel-footer
          h3 Миронюк Дмитрий Константинович

          ul
            li
              a 18.09.1992
            li
              a mironiukdk@gmail.com
            li
              a г. Красноярск
